
.gapo1 {
    /* height: 500px; */
    padding: 40px;
}

.events {
    display: flex;
    justify-content: center;
}

.head {
    font-size: 40px;
    color: #01134d;
    font-weight: 700;
}

@media(max-width:400px) {
    .head {
        font-size: 34px;
    }
    .gapo1 {
        padding: 20px;
    }
    .event {
        padding: 7px;
        width: 90%
    }
}