.milestone_table{
    margin:25px 180px 25px 60px;
    width:90%;
 }

.milestone_headingsec{
display: flex;
align-items: center;
justify-content: center;
}

.milestone_pic{
width: 100%;
height: auto;
}

.milestone_heading{
width: 35%;
}

.milestone_heading h1{
font-weight: bold;
color: #00134d;
/* text-shadow: 2px 2px 5px #3451a7;  */
}

.milestone_imghead{
width: 20%;
}
.comp_th:nth-child(2),
.comp_td:nth-child(2) {
        width: 40%; 
  } 

.comp_table .comp_td:first-child {
    text-align:center;
  }

/* @media (max-width: 768px) {
   .milestone_tab{
    margin-top: 120px; 
    padding:0px;
    margin: 30px;
   }
  .milestone_table .comp_tr .comp_td{
         font-size: 16px;
    }
} */

@media (max-width: 768px) {
    .milestone_table {
      margin-top: 120px;
      padding: 30px;
      margin: 0px 70px 20px 40px; 
    }
    .milestone_table .comp_tr .comp_td {
      font-size: 16px;
    }
  }
@media only screen and (max-width: 600px) {

    
.entire_tab{
    /* margin-top: 120px; */
    padding:10px;
    width: 100%;
    overflow-x:scroll;

 }
 .milestone_table{
  margin: 20px;
 }

.milestone_table .comp_tr .comp_td{
    font-size: 14px;
}

.milestone_imghead{
    width:40%;
}

.milestone_heading{
    width:60%;
}

}




