.milestone_table{
  width:100%;
  margin:25px 90px 25px 200px;
 }

.milestone_headingsec{
display: flex;
align-items: center;
justify-content: center;
}

.milestone_pic{
width: 100%;
height: auto;
}

.milestone_heading{
width: 35%;
}

.milestone_heading h1{
font-weight: bold;
color: #00134d;
/* text-shadow: 2px 2px 5px #3451a7;  */
}

.milestone_imghead{
width: 20%;
}
.milestone_table:nth-child(2),
.milestone_table:nth-child(2) {
        width: 70%; 
  }
.milestone_table:nth-child(1),
.milestone_table:nth-child(1) {
       width: 30%; 
 } 

/* .comp_table .comp_td:first-child {
    text-align:center;
  } */

/* @media (max-width: 768px) {
   .milestone_tab{
    margin-top: 120px; 
    padding:0px;
    margin: 30px;
   }
  .milestone_table .comp_tr .comp_td{
         font-size: 16px;
    }
} */

@media (max-width: 768px) {
    .milestone_table {
      width:100%;
      padding: 30px;
      margin: 20px 20px 20px 40px; 
    }
    .milestone_table .comp_tr .comp_td {
      font-size: 16px;
    }
    .milestone_headingsec{
      margin-top: 40px;
    }
    .milestone_table:nth-child(2),
.milestone_table:nth-child(2) {
        width: 90%; 
  }
.milestone_table:nth-child(1),
.milestone_table:nth-child(1) {
       width: 10%; 
 } 
  }
@media only screen and (max-width: 600px) {

    
.milestone_table{
    padding:10px;
    overflow-x:scroll;
    width: 100%;
    margin:0px 10px 20px 25px;
 }
.milestone_table .comp_tr .comp_td{
    font-size: 14px;
}
.milestone_imghead{
    width:40%;
}
.milestone_heading{
    width:60%;
}

}




