.back {
    position: fixed;
    bottom: 20px;
    right: 25px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    line-height: 2.4rem;
    color: #01134d;
    background-color: #ff6600;
    /* display: none; */
    justify-content: center;
    text-align: center;
    align-items: center;
    font-weight: bolder;
    cursor: pointer;
    /* box-shadow: 2px 2px 5px 2px #fff; */
}

.back:hover {
    transform: scale(1.1);
    color: #01134d;
    background-color: #D9EDFF;
    transition: 0.6s;
}