.parallax {
    background-image: url("../../assets/pictures/prefooter.webp");
    width: 100%;
    height: 650px;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #00134d;
    position: relative;
    /* z-index: -1; */
}

.dna{
    height: 650px;
    opacity: 0.75;
    background-Color: #00134d; 
    font-size: 20px 
}


.figure-text {
    color: white;
    font: "futura-pt-bold", sans-serif;
    font-size: 35px;
}

.figure {
    font-family: 'Times New Roman', serif;
    font-weight: normal;
    font-size: 40px;
    color: #ff6600;
    text-shadow: 0 2px 4px #000000;
    align-items: center;
    text-align: center;
}

.figure-box {
    /* display: flex; */
    /* justify-content: center; */
    /* text-align: center; */
    /* align-items: center; */
    /* width: 20%; */
}

.ri {
    height: 90px;
}
.boxy{
    display: flex;
    justify-content: space-evenly;
}
.ther_gap{
    height: 100px;
}

.no {
    align-items: center;
    color: #ff6600;
}

.ther {
    /* display: flex; */
    justify-content: space-evenly;
    /* background-color: #ff6600; */
    /* margin: 40px 0; */
}

.jack {
    color: #ff6600;
    /* border-bottom: 2px solid #ff6600; */
    font-weight: bolder;
}

.jack:hover {
    color: #00134d;
    background-color: #ff6600;
    /* border: 2px solid #ff6600; */
}

.fs {
    margin-top: 40px;
    color: white;
    font-size: 27px;
    text-align: center;
    font-family: 'Times New Roman', serif;
}

.d-grip {
    margin-top: 40px;
}

.section {
    z-index: 1;
}

.headfoot {
    padding-top: 30px;
    padding-bottom: 20px;
    /* background-color: #ff6600; */
    color:white;
    text-align:center; 
    font-weight: 600;
    font-size:xx-large;
    font-family: "'Times New Roman', serif";
    text-shadow: 2px 2px 4px #000000
}

@media (max-width:800px) {
    .parallax{
        height: 620px;
    }
    .dna{
        height: 620px;
    }
    .ther_gap{
        height: 50px;
    }
    .ri {
        height: 0;
    }
    .dna {
        padding: 0 30px;
    }
    .headfoot {
        padding-top: 20px;
    }
    .figure {
        font-size: 30px;
    }
    .figure-text {
        font-size: 28px;
    }
    .figure_box {
        margin: 20px 0;
    }
    .fs {
        margin-top: 20px;
        font-size: 20px !important;
    }
    .d-grip {
        margin-top: 10px;
        display: flex;
        justify-content: space-between;
    }
}

@media(max-width:575px) {
    .jack {
        font-size: 18px;
    }
    .boxy{
        justify-content: space-between;
    }
    .figure {
        font-size: 24px;
    }
    .figure-text {
        font-size: 22px;
    }
}

@media(max-width:425px) {
    .jack {
        font-size: 14px;
    }
    .headfoot {
        font-size: 30px!important;
    }
    /* .figure {
        font-size: 25px;
    }
    .figure-text {
        font-size: 25px;
    } */
    .boxy{
        flex-direction: column;
        align-items: center;
    }
    .ther_gap{
        height: 10px;
    }
    .headfoot{
        padding-top: 5px;
    }
    .dna{
        padding: 20px 10px;
    }
}