.comp_table{
   font-family: Arial, Helvetica, sans-serif;
   border-collapse: collapse;
   width: 100%;
}

.comp_td{
    border:1px #dddddd solid;
    text-align: left;
    padding: 20px;
    color: black;
}

.comp_th{
    border: 1px solid #dddddd;
    color: #00134d;
    padding: 20px;
    text-align: center;
}

.comp_tr:nth-child(even){
    background-color:#ECF6FF;
}

.comp_tr:nth-child(odd) {
    background-color:#D9EDFF;
    }
/* .hover:hover{
    background-color: #61dafb;
} */

/* .entire_tab{
    margin:auto;
} */