.nba_tab{
    margin:50px auto 20px auto;
    width:70%;
}
.nba{
  padding:25px;
    >p{
      
        text-align: justify;
        font-size: 18px;
        padding:10px;
        margin-left: auto;
        margin-right: auto;
        width:85%;
        line-height: 1.5rem;
    }
}
.nbamenu{
  /* display: flex;
    flex-direction: column; */
  padding: 40px 20px;
  width: 75%;
  /* border-radius: 5px 0 5px 0; */
}
@media (max-width:895px) {
     .nba_tab{
    margin:50px auto 20px auto;
    width:90%;
   }
   .nba{
    >p{
       text-align: justify;
    width:90%;

    }
  }
}

@media (max-width:698px) {
     .nba_tab{
    overflow-x: scroll;
     }
     
    .nba{
    >p{
       text-align: justify;
    }
  }
}
