* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.eeebg {
  /* background: url("../../assets/pictures/eeebg-tinted.webp"); */
  background: url("https://accet-site-media-trial.s3.ap-northeast-1.amazonaws.com/dept_bgs/eeebg-tinted.webp");
  min-height: 550px;
  background-color: #00134d;
  position: relative;
  width: 100%;
  height: auto;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.eeeheading {
  text-align: center;
  position: absolute;
  color: #fff;
  font-size: 250%;
  top: 48%;
  width: 100%;
  text-transform: uppercase;
  letter-spacing: 5px;
  text-shadow: 0px 0px 10px #000;
}
.eee_sub_heading {
  text-align: center;
  position: absolute;
  color: #ff6600;
  font-size: 150%;
  top: 75%;
  width: 100%;
  text-transform: uppercase;
  letter-spacing: 5px;
  text-shadow: 0px 0px 10px #000;
}
.eeetwo-col {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.eeedark {
  /* display: flex;
    flex-direction: column; */
  padding: 40px 20px;
  width: 75%;
  /* border-radius: 5px 0 5px 0; */
}
.eee_sub_head {
  font-size: 40px;
  font-weight: 500;
  /* width: 100%;  */
  /* text-align: left;  */
  color: #00134d;
}
.eeetwo-col p {
  margin-top: 20px;
  width: 50%;
  padding: 0 30px;
}
.eee_dept_content {
  text-align: justify;
  font-size: 18px;
  line-height: 1.5rem;
  color: black;
}
.eeetwo-col .dept_img_holder {
  width: 50%;
  /* height: auto; */
  /* align-items: center;
    justify-content: center; */
}
.dept_img {
  width: 100%;
  height: auto;
}
.eeetwo-col1 p {
  width: 100%;
  padding: 20px 30px;
}
.eee_progs{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

@media(max-width:1100px){
  .eeetwo-col {
    
    flex-direction: column;
  }
  .eeetwo-col p {
    width: 100%;
  }
  .eeetwo-col .dept_img_holder {
    width: 90%;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

@media (max-width: 1024px) {
  .eeeheading {
    top: 35%;
    font-size: 150%;
    font-weight: 500;
  }
  .eee_sub_heading {
    font-size: 100%;
    font-weight: 500;
  }
  .eeebg {
    width: 100%;
    height: 700px;
  }
}
@media (max-width: 768px) {
  .eeebg {
    width: 100%;
    height: 500px;
  }
  .eeedark {
    width: 100%;
  }
  
}

@media (max-width: 500px) {
  .eee_sub_head {
    font-size: 28px;
  }
  .eee_dept_content {
    font-size: 16px;
  }
  .dept_float_menu {
    display: none;
  }
}

@media (max-width: 425px) {
  .eeebg {
    /* background: url("../../assets/pictures/eeebgm-tinted.webp"); */
    background: url("https://accet-site-media-trial.s3.ap-northeast-1.amazonaws.com/dept_bgs/eeebgm-tinted.webp");
    min-height: 550px;
    width: 100%;
    height: 750px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  .eeetwo-col p {
    padding: 0 5px;
  }
  .eeetwo-col1 p {
    padding: 0 5px;
  }
}

@media (max-width: 321px) {
  .eee_sub_head {
    font-size: 26px;
  }
}
